<footer>
  <div class="left-footer">
    <p>© 2025 - Marcos Silva</p>
  </div>
  <ul>
    <a href="https://github.com/marcossilva11" target="_blank">
      <li><i class="bi bi-github"></i></li>
    </a>
    <a href="#" target="_blank">
      <li><i class="bi bi-linkedin"></i></li>
    </a>
  </ul>
</footer>
