<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Notes</title>
    <!-- BOOTSTRAP ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- STYLE -->
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo-box">
        <h2>BOOK NOTES</h2>
      </div>
      <nav>
        <ul>
          <a href="./index.html">
            <li>Home</li>
          </a>
          <a href="#">
            <li>My list</li>
          </a>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Your list</h1>
      <div class="book-box">
        <div class="book-cover">
          <img
            src="https://covers.openlibrary.org/b/id/240727-L.jpg"
            alt="Book cover"
          />
        </div>
        <div class="book-infos">
          <h2>You Can Negotiate Anything - by Herb Cohen</h2>
          <p>Data read: 22/01/2025</p>
          <ul class="rating-list">
            <li>Rating:</li>
            <li class="rating"><i class="bi bi-star-fill"></i></li>
            <li class="rating"><i class="bi bi-star-fill"></i></li>
            <li class="rating"><i class="bi bi-star-fill"></i></li>
            <li class="rating"><i class="bi bi-star"></i></li>
            <li class="rating"><i class="bi bi-star"></i></li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium debitis repellendus, praesentium corporis dolores, ullam
            et quas maiores velit harum consequuntur! Iusto quo recusandae
            placeat quae quibusdam nesciunt labore quos?
          </p>
          <a href="./details.html" class="book-link">See more</a>
        </div>
      </div>
    </main>
    <footer>
      <div class="left-footer">
        <p>© 2025 - Marcos Silva</p>
      </div>
      <ul>
        <a href="https://github.com/marcossilva11" target="_blank">
          <li><i class="bi bi-github"></i></li>
        </a>
        <a href="#" target="_blank">
          <li><i class="bi bi-linkedin"></i></li>
        </a>
      </ul>
    </footer>
  </body>
</html>
